{% extends 'base.html' %}

{% block content %}
  <h1>Notes</h1>
  <a href="http://127.0.0.1:8000/notes/create/">Create New Note</a>
  {% if notes %}
    <ul>
      {% for note in notes %}
        <li>
          <h3>{{ note.title }}</h3>
          <p>Created: {{ note.created_on }}</p>
          <p>Updated: {{ note.updated_on }}</p>
          <a href="http://127.0.0.1:8000/notes/update/{{ note.id }}">Edit</a>
          <a href="http://127.0.0.1:8000/notes/delete/{{ note.id }}">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No notes found.</p>
  {% endif %}
{% endblock %}
